.container {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-container {
    display: flex;
    justify-content: space-around;
}

.player {
    margin-inline: 5rem;
    margin-block: 2rem;
}

.success-mssg {
    color: green;
}
